Data Loading from cloud data storage

In [0]:
%python
df = spark.read.format("csv")\
        .option("header",True)\
        .option("inferSchema", True)\
        .load("abfss://sparksql@datalakeforsparksql.dfs.core.windows.net/source/raw_data")

In [0]:
%python
df.display()

## **Spark SQL**

In [0]:
%python
df.createOrReplaceTempView("orders_temp_view")
## This view only be used for this session. we cannot use this view in other notebooks.

# df.createOrReplaceGlobalTempView("ordres_global_temp_view")
# Reason why we dont use global temp views is that why we want to share our data to all the other sessions.
# so, best practise is to used temp view so that it can be onky accessible within our current session.

In [0]:
select *
from orders_temp_view

# **External Tables and Managed Tables**

### Managed Tables

In [0]:
CREATE CATALOG sparksql_cata
MANAGED LOCATION 'abfss://sparksql@datalakeforsparksql.dfs.core.windows.net/sparksqldata/';

In [0]:
create schema sparksql_cata.sparksql_schema;

In [0]:
create table sparksql_cata.sparksql_schema.orders_tab
AS
select * 
from orders_temp_view;   

-- idr CTAS (Create Table As Select) is technique ke through table create krte hn.(Minor_Diff from traditional SQL)

In [0]:
drop table sparksql_cata.sparksql_schema.orders_tab;

In [0]:
undrop table sparksql_cata.sparksql_schema.orders_tab;

In [0]:


drop table sparksql_cata.sparksql_schema.orders_managed_table;

# **External Table**

In [0]:
create table sparksql_cata.sparksql_schema.orders_ext_table
LOCATION "abfss://sparksql@datalakeforsparksql.dfs.core.windows.net/source/orders_ext_table"
AS
select *
from orders_temp_view

# **Filtering**

In [0]:
select *
from sparksql_cata.sparksql_schema.orders_ext_table

In [0]:
select *
from sparksql_cata.sparksql_schema.orders_ext_table
where product_category = "Fashion"

In [0]:
%python
## Now if you want to make dataframe on top of your query 

d_f = spark.sql('''
    SELECT *
    FROM sparksql_cata.sparksql_schema.orders_ext_table
    WHERE product_category = "Fashion";
''')